<section  data-ng-init="find()">
	<form ng-submit = "addToList()"> 
    <div class="modal-header">
        <h3 class="modal-title">Add all the items from your favorites</h3>
    </div>
        
    <div class="modal-body">
         <div data-ng-repeat="item in favorites" class="list-group-item">
                <i ng-class="item.addToList? ' fa fa-check-square-o fa-2x' : 'fa fa-square-o fa-2x'"
                            ng-click="checkAddToList(item)" ></i>
                <h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>
                        			
        </div>
   </div>
   
    <div class="modal-footer">
        <button type = "submit" class="btn btn-primary">Add!</button>
            
        <button type = "button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
       
    </div>
    
</form>
</section>