
 <ul ng-controller="SideNavController" class="sidebar-nav">
               
                <li>
                    <i ng-click = "openProfile()" class="fa fa-user fa-4x"></i>
                </li>
                <li>
                    <i ng-click = "openFavorites()" class="fa fa-heart fa-4x"></i>
                </li>
                <li>
                    <i ng-click = "openRecipe()" class="fa fa-cutlery fa-4x"></i>
                </li>
                <li>
                    <a href="#">Sign Out</a>
                </li>
              
            </ul>